.swiper{
    height: 600px;
}
.main-b{
    /* margin-top: 20px; */
    padding-top: 10px;
}
.belleville-dental-B h1{
    font-weight: lighter;
    color: #003040;
}
.belleville-dental-B-image{
    height: 350px;
}